.service {
    overflow: hidden;
    margin-bottom: 70px;
}

@media (min-width: 1024px) {
    .service {
        padding: 0 15px;
    }
}

@media (min-width: 1470px) {
    .service {
        padding: 0;
    }
}

.service-list {
    display: none;
    position: relative;
    max-width: 1440px;
    width: 100%;
}

@media (min-width: 1024px) {
    .service-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.service-item {
    position: relative;
    max-width: 241px;
    width: 100%;
    min-height: 240px;
    background-color: #fff;
    border: 1px solid #e7dfcd;
    padding: 30px 20px 30px 30px;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    margin-left: -1px;
    cursor: pointer;
}

.service-item:first-child {
    margin-left: 0;
}

.service-item:hover {
    background-color: #f4f4f4;
}

.service-item__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

._truck-icon {
    width: 60px;
    background-image: url(../img/service/truck-icon.svg);
}

._support-icon {
    width: 50px;
    background-image: url(../img/service/support-icon.svg);
}

._ruble-icon {
    width: 50px;
    background-image: url(../img/service/ruble-icon.svg);
}

._gift-icon {
    width: 50px;
    background-image: url(../img/service/gift-icon.svg);
}

._credit-icon {
    width: 50px;
    background-image: url(../img/service/credit-icon.svg);
}

._repair-icon {
    width: 52px;
    background-image: url(../img/service/repair-icon.svg);
}

.service-item-disc {
    position: relative;
    padding-top: 80px;
}

.service-item__title {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

@media (min-width: 1280px) {
    .service-item__title {
        font-size: 16px;
    }
}

.service-item__text {
    font-size: 12px;
    letter-spacing: 0.7px;
}

.service-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.service-detail__close {
    top: 30px;
    right: 30px;
}

.service-detail__icon {
    height: 100%;
    width: 30%;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}

._detail-truck {
    background-size: auto 230px;
    background-image: url(../img/service/light-truck-icon.svg);
}

._detail-support {
    background-size: auto 170px;
    background-image: url(../img/service/light-support-icon.svg);
}

._detail-ruble {
    background-size: auto 180px;
    background-image: url(../img/service/light-ruble-icon.svg);
}

._detail-gift {
    background-size: auto 170px;
    background-image: url(../img/service/light-gift-icon.svg);
}

._detail-credit {
    background-size: auto 170px;
    background-image: url(../img/service/light-credit-icon.svg);
}

._detail-repair {
    background-size: auto 180px;
    background-image: url(../img/service/light-repair-icon.svg);
}

.service-detail-disc {
    width: 70%;
    padding-left: 30px;
    letter-spacing: 0.7px;
}

.service-detail__title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.service-detail__text {
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.service-detail-advantage__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 7px;
}

.service-detail-advantage__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #d7caac;
}

@media (min-width: 1024px) {
    .service-list-mb {
        display: none;
    }
}

.service-caruosel-mb {
    padding: 10px 30px 10px;
    background-color: #fff;
}

.servies-casuosel-slader-mb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
}

@media (min-width: 600px) {
    .servies-casuosel-slader-mb {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 20px;
    }
}

.service-slader__icon-mb {
    margin: 0 auto 20px;
    max-height: 100px;
}

@media (min-width: 600px) {
    .service-slader__icon-mb {
        max-width: 200px;
        max-height: 160px;
        margin: 0 30px 0 0;
    }
}

.service-slader-disc-mb {
    font-size: 13px;
    letter-spacing: 0.7px;
}

@media (min-width: 900px) {
    .service-slader-disc-mb {
        font-size: 14px;
        max-width: 67%;
        width: 100%;
    }
}

.service-slader__title-mb {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

@media (min-width: 900px) {
    .service-slader__title-mb {
        font-size: 24px;
    }
}

._service-advantage__item-mb {
    padding-left: 20px;
}
